:host {
  width: 100%;
  display: flex;
  justify-content: center;

  .container-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 100%;
    min-width: 360px;
    max-width: 600px;
  }
  h2 {
    text-align: center;
  }
  .authors {
    display: block;
    text-align: center;
    font-size: 30px;
  }
  p,
  .authors {
    padding: 5px;
    background-color: dimgray;
  }
}

.card-image {
  ion-img {
    width: 100%;
  }
}

ion-card {
  margin-top: 15px;
  padding: 15px;
}