<ion-header>
    <ion-toolbar color="primary" class="filters-toolbar">
        <ion-back-button color="light" slot="start" class="back-button" text="Library" defaultHref="/"></ion-back-button>
    </ion-toolbar>
</ion-header>
<ion-content class="content">
        
        <ion-card color="light" *ngIf="book">
            <ion-img (error)="updateUrl()" [src]="book.img" alt="img"></ion-img>
            <ion-card-header>
                <ion-card-title>{{ book.name }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-text class="d-flex" *ngFor="let item of book.author">Authors: {{ item.name }} </ion-text>
            </ion-card-content>
            <ion-card-content>
                Description:
                {{ book.description }}
            </ion-card-content>
        </ion-card>
</ion-content>