<ion-content class="edit-book" *ngIf="book">
    <ion-content color="primary" class="edit">
        <h3>Authors:</h3>
        <ion-grid class="input-group mb-3">
                <form id="add-author" [formGroup]="addAuthorForm">
                        <ion-row class="input-group mb-3">
                            <ion-col class="input-group-append">
                                <ion-input name="name" formControlName="name" type="text" class="form-control"
                                placeholder="enter new author" aria-label="Recipient's username"
                                aria-describedby="basic-addon2"></ion-input>
                            </ion-col>
                            <ion-col class="input-group-append">
                                <button form="add-author" class="btn btn-outline-secondary" type="button"
                                (click)="addAuthor()">Create New Author</button>
                            </ion-col>
                        </ion-row>
                        <h3>Authors:</h3>
                        <ion-item class="author-item" *ngFor="let option of authors; let i = index">
                            <div class="w-100 d-flex justify-content-between align-items-center">
                                <ion-text class="option">{{ option.name }}</ion-text>
                                <ion-button color="danger" size="default" (click)="removeFromSelect($event, option.id, i)">
                                    Delete
                                </ion-button>
                            </div>
                        </ion-item>
                    </form>
        </ion-grid>
    </ion-content>
</ion-content>
<span *ngIf="!book">Please wait</span>