<ion-header>
    <ion-toolbar color="primary" class="filters-toolbar">
        <div class="search-menu-wrap">
            <app-menu></app-menu>
            <ion-text>Users</ion-text>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content color="primary" class="library" [scrollEvents]="true">
    <ion-item *ngFor="let user of users;">
        <span (click)="redirectToUser(user.id)">{{ user.username }}</span>
    </ion-item>
</ion-content>