<ion-content>
        <h2>Edit Profile</h2>
        <span *ngIf="!user">Please wait</span>
        <ion-content color="primary" *ngIf="user">
                <form id="edit-user-form" [formGroup]="editFormGroup" class="edit-users">
                        <ion-item class="form-group">
                                <ion-label class="w-25" for="username">Username</ion-label>
                                <ion-input class="form-control" id="username" name="username" type="text"
                                        formControlName="username" [value]="user.username"></ion-input>
                        </ion-item>
                        <ion-text class="error">{{ errorMessage }}</ion-text>
                        <ion-text class="error"
                                *ngIf="editFormGroup.get('username').touched && editFormGroup.get('username').invalid">
                                Username have to
                                min 6 symbol, max 18 symbol and only latin letters and numbers </ion-text>
                        <ion-item class="form-group">
                                <ion-label class="w-25" for="email">Email</ion-label>
                                <ion-input class="form-control" id="email" name="email" type="text"
                                        formControlName="email" [value]="user.email"></ion-input>
                                <ion-text class="error">{{ errorMessage }}</ion-text>
                                <ion-text class="error"
                                        *ngIf="editFormGroup.get('email').touched && editFormGroup.get('email').invalid">
                                        Email have to min 2 symbol, max 18 symbol and only latin letters </ion-text>
                        </ion-item>
                        <ion-item *ngIf="isCurrentUserAdmin" class="form-group">
                                <ion-label class="w-25" for="role">Select role</ion-label>
                                <ion-select class="form-control" name="role" id="role" formControlName="role">
                                        <ion-select-option value="admin">Admin</ion-select-option>
                                        <ion-select-option value="user">User</ion-select-option>
                                </ion-select>
                        </ion-item>
                </form>
                <div *ngIf="isPageProfile">
                        <button (click)="editPassword()" class="btn btn-outline-dark" form="edit-user-form">Edit
                                Password</button>
                        <div *ngIf="editPass">
                                <form id="edit-password-form" [formGroup]="editPasswordForm" class="edit-users">
                                        <div class="form-group">
                                                <label for="currentPassword">Current Password<input id="currentPassword"
                                                                class="form-control" name="currentPassword" type="text"
                                                                formControlName="currentPassword"></label>
                                                <span class="error"
                                                        *ngIf="editPasswordForm.get('currentPassword').touched && editPasswordForm.get('currentPassword').invalid">
                                                        Password have to min 6 symbol and max 18</span>
                                                <label for="newPassword">New Pawwsord<input id="newPassword"
                                                                class="form-control" name="newPassword" type="text"
                                                                formControlName="newPassword"></label>
                                                <span class="error"
                                                        *ngIf="editPasswordForm.get('newPassword').touched && editPasswordForm.get('newPassword').invalid">Password
                                                        have to min 6 symbol and max 18</span>
                                                <span class="error" *ngIf="passwordError">{{ passwordError }}</span>
                                        </div>
                                </form>
                                <button (click)="savePassword()" class="btn btn-outline-success"
                                        form="edit-user-form">Save Password</button>
                        </div>

                </div>
                <div class="btn-block-form-send">
                        <button (click)="saveEditForm()" class="btn btn-primary" form="edit-user-form">Save</button>
                        <ion-back-button defaultHref="/tabs/admin-pages/edit-users"></ion-back-button>
                </div>
        </ion-content>
</ion-content>