﻿<ion-toolbar color="primary">
    <ion-title>Register</ion-title>
</ion-toolbar>
<ion-content padding class="jumbotron">
    <form [formGroup]="registerForm">
        <div class="form-group">
          <ion-label>Email address</ion-label>
            <ion-input [ngClass]="{ 'is-invalid': f.email.touched && f.email.invalid }" type="email" formControlName="email" class="form-control" required></ion-input>
        </div>
        <div class="form-group">
            <ion-label>Username</ion-label>
            <input [ngClass]="{ 'is-invalid': f.username.touched && f.username.invalid }" type="text" class="form-control" formControlName="username" required>
            <span class="error">{{errorMessage}}</span>
            <span class="success">{{successMessage}}</span>
        </div>
        <div class="form-group">
          <ion-label>Password</ion-label>
          <input [ngClass]="{ 'is-invalid': f.password.touched && f.password.invalid }" type="password" class="form-control" formControlName="password" required>
          <span class="error">{{errorMessage}}</span>
        </div>
        <ion-item lines="none" class="form-group">
          <ion-button (click)="tryRegister()" color="primary">Register</ion-button>
          <ion-button routerLink="/auth/login" routerDirection="forward"  color="primary">Back</ion-button>
        </ion-item>
      </form>
      <span class="error" *ngIf="errMessage">{{ errMessage }}</span>
</ion-content>