<ion-header>
  <ion-toolbar color="primary" class="filters-toolbar">
    <div class="search-menu-wrap">
      <app-menu></app-menu>
      <ion-text>Location</ion-text>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content color="primary">
  <button ion-button full icon-left (click)="getLocation()">
    <ion-icon name="locate"></ion-icon>
    Get coords location
  </button>
  <p><ion-text color="primaryOrigin">Latitude: </ion-text>{{ latitude || 0 }}</p>
  <p><ion-text color="primaryOrigin">Longitude: </ion-text>{{ longitude || 0 }}</p>
  <p><ion-text color="primaryOrigin">Current Latitude: </ion-text>{{ currentLatitude || 0 }}</p>
  <p><ion-text color="primaryOrigin">Current Longitude: </ion-text>{{ currentLongitude || 0 }}</p>
</ion-content>