<ion-header>
<ion-toolbar color="primary filters-toolbar">
        <div class="search-menu-wrap">
            <app-menu></app-menu>
            <ion-text>Change Password</ion-text>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content class="content">
    <ion-list>
        <ion-back-button color="primary" slot="start" class="mt-2" defaultHref="/tabs/profile"></ion-back-button>
    </ion-list>
    <form id="edit-password-form" [formGroup]="editPasswordForm" class="edit-users">
        <ion-grid class="form-group">
            <ion-row color="primary" size="1">
                <ion-label for="currentPassword">Current Password<ion-input id="currentPassword" class="form-control"
                        name="currentPassword" type="text" formControlName="currentPassword"></ion-input>
                </ion-label>
                <ion-text size="1" class="error"
                    *ngIf="editPasswordForm.get('currentPassword').touched && editPasswordForm.get('currentPassword').invalid">
                    Password have to min 6 symbol and max 18</ion-text>
            </ion-row>
            <ion-row size="1" class="mt-3">
                <ion-label for="newPassword">New Pawwsord<ion-input id="newPassword" class="form-control"
                        name="newPassword" type="text" formControlName="newPassword"></ion-input>
                </ion-label>
                <ion-text size="1" class="error"
                    *ngIf="editPasswordForm.get('newPassword').touched && editPasswordForm.get('newPassword').invalid">
                    Password
                    have to min 6 symbol and max 18</ion-text>
                <ion-text class="error" *ngIf="passwordError">{{ passwordError }}</ion-text>
            </ion-row>
        </ion-grid>
    </form>
    <button ion-button (click)="savePassword()" class="btn btn-outline-success" form="edit-user-form">Save
        Password</button>
</ion-content>