:host {
    width: 100%;
    app-main-chat {
      position: fixed;
      top: 10%;
      right: 1%;
    }
      .header-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
      .search-menu-wrap {
        display: flex;
        align-items: center;
        app-header {
          margin-right: 5px;
        }
      }
  }
  .library {
    display: flex;
      .scroll-to-top {
        position: fixed;
        width: 60px;
        height: 60px;
        right: 0;
        bottom: 0;
      }
    .books {
      display: flex;
      flex-direction: column;
      width: 100%;
      .books-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background: #fff;

        .book {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 20px;
          align-content: center;
          align-items: center;
          text-align: center;
          ion-item {
            width: 100%;
            ion-img {
              width: 100%;
            }
          }
          .book-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 5px; 
          }
          img {
            width: 100%;
          }
        }
      }
    }
    .library-search {
      width: 15%;
      input,
      label {
        width: 100%;
      }
      .item-serach {
        width: 100%;
  
      }
      .filter-name {
          color: #150502;
        }
    }
  }

  .filters-toolbar {
    height: 68px;
    display: flex;
    align-items: center;
    padding: 0 15px;
  }
  ion-icon {
    width: 32px;
    height: 32px;
  }

  svg {
    vertical-align: inherit;
  }
