<ion-header>
    <ion-toolbar color="primary" class="filters-toolbar">
        <ion-buttons slot="primary">
            <ion-icon slot="icon-only" (click)="toogleSearch()" name="search" *ngIf="!showSearch"></ion-icon>
            <ion-icon slot="icon-only" (click)="toogleSearch()" name="close" *ngIf="showSearch"></ion-icon>
            <app-drop-down-authors (onChanged)="onChanged($event)">
            </app-drop-down-authors>
            <ion-icon (click)="presentAlert()" name="list"></ion-icon>
        </ion-buttons>
        <div class="search-menu-wrap">
            <app-menu></app-menu>
            <ion-text *ngIf="!showSearch">
                    <app-beautiful-title title=Library></app-beautiful-title>
                </ion-text>
            <ion-searchbar *ngIf="showSearch" [(ngModel)]="someValue" (keyup)="searchEvent($event)"
                (ionCancel)="cancelSearch($event)" (ionClear)="cancelSearch($event)">
            </ion-searchbar>
        </div>
    </ion-toolbar>
    <app-sliders></app-sliders>
</ion-header>
<ion-content class="library content" [scrollEvents]="true">
    <ion-grid class="books">
        <div class="books-container">
            <ion-list class="book" *ngFor="let item of books; let i = index">
                <ion-item class="frame" color="medium" *ngIf="this.books">
                    <ion-item-sliding class="book-item" (click)="selectBook(i)">
                        <div class="book-header-wrap">
                            <div class="text-wrapper">
                                <ion-text class="text-library" color="primary">
                                        {{ item.name }}
                                </ion-text>
                            </div>
                        </div>
                        <ion-img (error)="updateUrl(item)" [src]="item.img" alt="img"></ion-img>
                    </ion-item-sliding>
                </ion-item>
                <ion-spinner *ngIf="!books" name="crescent"></ion-spinner>
                <div class="line"></div>
            </ion-list>
        </div>
        <ion-infinite-scroll *ngIf="isFinishedLoadData" threshold="400px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-grid>
    <ion-icon *ngIf="scrollToTop" color="primary" class="scroll-to-top" name="arrow-dropup-circle"
        (click)="logScrollStart()">
    </ion-icon>
</ion-content>