<ion-tabs>
  <ion-menu contentId="side-menu" side="start" menuId="first">
    <ion-header class="filters-toolbar opened-menu">
      <ion-title>Library Nav</ion-title>
      <ion-icon name="arrow-back" (click)="closeMenu()"></ion-icon>
    </ion-header>
    <ion-content>
      <ion-list (click)="closeMenu()">
        <ion-item routerLink="/tabs/library" routerDirection="forward">Library</ion-item>
        <ion-item routerLink="/tabs/chat" routerDirection="forward">Chat</ion-item>
        <ion-item *ngIf="isAdmin" routerLink="/tabs/admin-pages" routerDirection="forward">Admin</ion-item>
        <ion-item routerLink="/tabs/profile" routerDirection="forward">Profile</ion-item>
        <ion-item routerLink="/tabs/camera" routerDirection="forward">Camera</ion-item>
        <ion-item routerLink="/tabs/geolocation" routerDirection="forward">Location</ion-item>
        <ion-item routerLink="/tabs/gallery" routerDirection="forward">Gallery</ion-item>
        <ion-item routerLink="/tabs/draw-ground" routerDirection="forward">Draw</ion-item>
        <ion-item>Settings (comming soon)</ion-item>
        <ion-item>Contacts (comming soon)</ion-item>
        <ion-item (click)="logout()">Logout</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="library">
      <ion-icon name="ios-home"></ion-icon>
      <ion-label>Library</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="users">
      <ion-icon name="people"></ion-icon>
      <ion-label>Users</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="chat" (click)="clearUnreadMessage()">
      <span *ngIf="unreadMessages" class="unread-message"
        [ngClass]="{'counter-animation': animationsUnreadMessages}">{{ unreadMessages }}</span>
      <ion-icon name="md-chatboxes"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>