  .unread-message {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 38px;
    width: 20px;
    height: 20px;
    background-color: red;
    color: #000;
    font-size: 16px;
    z-index: 2;
  }
  .counter-animation {
    animation: counter-animation 0.3s 1 linear;
    @keyframes counter-animation {
      from {
        top: 0;
      }
      50% {
        top: -4px;
      }
      to {
        top: 0;
      }
    }
  }
  img {
    width: 40px;
    height: 40px;
  }
  .opened-menu {
    background-color: #cdd;
  }