:host {
    padding: 5px;
    .setting-books {
        margin: 0 0 0 15px;
    }

    .description-text {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden; 
        width: 100%;
        text-align: center;
        white-space: nowrap;
    }

    .frame {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .edit-item {
        position: absolute;
        top: 0;
        right: 0;
    }
}
