<ion-content color="primary">
        <ion-button class="add-option" routerLink="/tabs/admin-pages/setting/add-new-book">Add new Book</ion-button>
    <h3>All books:</h3>
    <ion-grid class="table table-condensed">
        <ion-col *ngFor="let item of books; let i = index">
            <div class="frame">
                <ion-row>
                    <ion-text color="primaryOrigin">
                        {{item.name}}
                    </ion-text>
                </ion-row>
                <ion-text color="primaryOrigin w-100">
                    <span class="description-text mb-2 mt-2">{{item.description}}</span>
                </ion-text>
                <ion-row>
                    <ion-img [src]="item.img"></ion-img>
                </ion-row>
                <ion-row>
                        <ion-text>Type:</ion-text> {{item.type}}
                </ion-row>
                <ion-row>
                    <ion-text>Authors: </ion-text><span *ngFor="let item of item.author; let i = index;">
                        <span>{{ item.name }}&nbsp;</span>
                    </span>
                </ion-row>
                <div class="edit-item">
                    <a (click)="selectedBook(item.id)">
                        <ion-icon color="primaryOrigin" name="create"></ion-icon>
                    </a>
                    <a (click)="selectedId(item.id)" (click)="presentAlert(item.id, item.name, i)">
                        <ion-icon color="danger" name="trash"></ion-icon>
                    </a>
                </div>
            </div>
            </ion-col>
        <ion-infinite-scroll threshold="400px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-grid>
</ion-content>