<ion-header>
    <ion-toolbar color="primary" class="filters-toolbar">
            <div class="search-menu-wrap">
                <app-menu></app-menu>
                <ion-text>Camera</ion-text>
            </div>
    </ion-toolbar>
</ion-header>
<ion-content color="primary" class="library" [scrollEvents]="true">
    <ion-item *ngFor="let img of user.images; let i = index">
        <ion-list class="images">
            <img class="img" [src]="img" />
            <ion-icon (click)="removeImage(i)" name="trash"></ion-icon>
        </ion-list>
    </ion-item>
    <ion-infinite-scroll threshold="400px" (ionInfinite)="loadImages($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
<ion-footer>
    <ion-toolbar color="primary">
        <ion-button fill="clear" expand="full" color="light" (click)="selectImage()">
            <ion-icon slot="start" name="camera"></ion-icon>
            Select Image
        </ion-button>
    </ion-toolbar>
</ion-footer>