<ion-toolbar color="primary" class="filters-toolbar">
    <div class="search-menu-wrap">
        <app-menu></app-menu>
        <span class="chat-name mr-2">Hi Admin!</span>
        <ion-segment (ionChange)="segmentChanged($event)">
            <ion-segment-button routerLink="/tabs/admin-pages/edit-users" value="people" checked>
                <ion-icon name="people"></ion-icon>
            </ion-segment-button>
            <ion-segment-button routerLink="/tabs/admin-pages/setting" value="book">
                <ion-icon name="book"></ion-icon>
            </ion-segment-button>
            <ion-segment-button routerLink="/tabs/admin-pages/edit-authors" value="contact">
                <ion-icon name="contact"></ion-icon>
            </ion-segment-button>
        </ion-segment>
    </div>
</ion-toolbar>
<ion-content class="content">
    <ion-router-outlet></ion-router-outlet>
</ion-content>