<ion-content color="primary" class="edit edit-book" *ngIf="book">
    <h2 class="name-page w-50">{{ title }}</h2>
    <ion-text class="error" *ngIf="notAllInputFilled">All field requered</ion-text>
    <form id="edit-book-form" [formGroup]="editFormGroup" class="edit-book">
        <ion-item>
            <ion-input placeholder="Name" hightlight-color="assertive" formControlName="name" type="text">
            </ion-input>
        </ion-item>
        <!-- <ion-grid class="form-group"> -->
        <ion-item lines="none">
            <ion-col class="mt-3 book-item panel-body" *ngIf="book.img">
                <span>Pre view image:</span>
                <ion-img [src]="book.img" alt="#"></ion-img>
            </ion-col>
        </ion-item>
        <ion-item lines="none">
            <div class="input-group">
                <ion-row class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                        aria-describedby="inputGroupFileAddon01" (change)="onFileChange($event)"
                        accept=".jpg, .jpeg, .png" #fileInput>
                    <label class="custom-file-label" for="inputGroupFile01">Upload image</label>
                </ion-row>
                <ion-row (click)="clearFile()">
                    <span class="input-group-text">Clear file</span>
                </ion-row>
            </div>
        </ion-item>
        <ion-item lines="none" class="mt-3 form-group">
            <textarea formControlName="description" class="form-control" aria-label="With textarea"
                [value]="book.description"></textarea>
        </ion-item>
        <ion-item class="mt-3 mb-3">
            <ion-label>Type</ion-label>
            <ion-select formControlName="type">
                <ion-select-option [value]="type.book">{{ type.book }}</ion-select-option>
                <ion-select-option [value]="type.magazine">{{ type.magazine }}</ion-select-option>
            </ion-select>
        </ion-item>
    </form>
    <span>Authors:</span>
    <ion-item class="input-group mb-3">
        <form class="w-100" id="add-author" [formGroup]="addAuthorForm">
            <ion-row class="col-auto my-1" (click)="onSelect($event)" class="select">
                <ion-text class="custom-select mr-sm-2" (click)="onClickDropMenu()">{{ newAuthor.name }}</ion-text>
                <ion-col class="drop-menu" *ngIf="dropMenuToggle">
                    <ion-item *ngFor="let option of authors; let i = index ">
                        <ion-text class="option" (click)="selectedOption(i)">{{ option.name }}</ion-text>
                    </ion-item>
                </ion-col>
            </ion-row>
        </form>
    </ion-item>
    <ion-item *ngFor="let item of book.author; let i = index">
        <button ion-button type="button" class="close text-danger mr-3" aria-label="Close"
            (click)="removeAuthor(item, i)">
            <span aria-hidden="true">&times;</span>
        </button>
        <span>{{ item.name }}</span>
    </ion-item>
    <ion-item class="btn-block-form-send">
        <button ion-button (click)="saveEditForm()" class="btn btn-primary mr-3" form="edit-user-form">Save</button>
        <button ion-button (click)="backToPrevPage()" class="btn btn-secondary" form="edit-user-form">Back</button>
    </ion-item>
</ion-content>
<span *ngIf="!book">Please wait</span>