<svg *ngIf="title" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">
  <text x="60%" text-anchor="end" y="50%" dy="0.4em" fill='url(#pattern)' font-size="34px">{{ title }}</text>
  <defs>  
    <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0">
      <stop offset="0%" style="stop-color:#33235b;"/>
      <stop offset="25%" style="stop-color:#D62229;"/>
      <stop offset="50%" style="stop-color:#E97639;"/>
      <stop offset="75%" style="stop-color:#792042;"/>
      <stop offset="100%" style="stop-color:#33235b;"/>
    </linearGradient>
    
    <pattern id="pattern" x="0" y="0" width="300%" height="100%" patternUnits="userSpaceOnUse">
      <rect x="0" y="0" width="150%" height="100%" fill="url(#gradient)">
        <animate attributeType="XML"
                 attributeName="x"
                 from="0" to="150%"
                 dur="7s"
                 repeatCount="indefinite"/>
      </rect>
      <rect x="-150%" y="0" width="150%" height="100%" fill="url(#gradient)">
        <animate attributeType="XML"
                 attributeName="x"
                 from="-150%" to="0"
                 dur="7s"
                 repeatCount="indefinite"/>
      </rect>
    </pattern>
  </defs>
</svg>
