<ion-header>
        <ion-toolbar color="primary filters-toolbar">
                <div class="search-menu-wrap">
                        <app-menu></app-menu>
                        <ion-text>
                                Profile
                        </ion-text>
                </div>
        </ion-toolbar>
</ion-header>
<ion-content fullscreen class="content">
        <ion-item>
                <ion-label>Setting profile</ion-label>
                <ion-toggle [(ngModel)]="showSettingUser"></ion-toggle>
        </ion-item>
        <form *ngIf="showSettingUser" id="edit-user-form" [formGroup]="editFormGroup" class="edit-users">
                <ion-item color="primary" class="form-group">
                        <ion-label class="w-25" for="username">Username</ion-label>
                        <ion-input class="form-control" id="username" name="username" type="text"
                                formControlName="username" [value]="user.username"></ion-input>
                </ion-item>
                <ion-text class="error">{{ errorMessage }}</ion-text>
                <ion-text class="error"
                        *ngIf="editFormGroup.get('username').touched && editFormGroup.get('username').invalid">Username
                        have to
                        min 6 symbol, max 18 symbol and only latin letters and numbers </ion-text>
                <ion-item color="primary" class="form-group">
                        <ion-label class="w-25" for="email">Email
                        </ion-label>
                        <ion-input class="form-control" id="email" name="email" type="email" formControlName="email"
                                [value]="user.email"></ion-input>

                </ion-item>
                <ion-text class="error"
                        *ngIf="editFormGroup.get('email').touched && editFormGroup.get('email').invalid">
                        Email have to min 2 symbol, max 18 symbol and only latin letters </ion-text>
        </form>
        <ion-button *ngIf="showSettingUser" (click)="saveEditForm()" color="primary" form="edit-user-form">Save
        </ion-button>
        <ion-button *ngIf="showSettingUser" color="primary" routerLink="/tabs/profile/change-password">Change Password
        </ion-button>
        <ion-item>
                <ion-label>Setting theme</ion-label>
                <ion-toggle [(ngModel)]="selectThemes"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="selectThemes" color="primary" lines="none" class="form-group">
                <ion-label for="role">Select Theme</ion-label>
                <ion-select (ionChange)="selectedTheme($event)">
                        <ion-select-option [value]="enum.normal">Normal</ion-select-option>
                        <ion-select-option [value]="enum.dark">Dark</ion-select-option>
                        <ion-select-option [value]="enum.light">Light</ion-select-option>
                        <ion-select-option [value]="enum.toxic">Toxic</ion-select-option>
                </ion-select>
        </ion-item>
        <ion-item>
                <ion-label>Finger signIn</ion-label>
                <ion-toggle [(ngModel)]="showFingerSignIn"></ion-toggle>
        </ion-item>
        <form id="edit-user-form" *ngIf="showFingerSignIn" [formGroup]="registerFingerForm" class="edit-users">
                <ion-item color="primary" class="form-group">
                        <ion-label class="w-25" for="username">Username</ion-label>
                        <ion-input class="form-control" id="username" name="username" type="text"
                                formControlName="username" [value]="registerFingerForm.value.username"></ion-input>
                </ion-item>
                <ion-item color="primary" class="form-group">
                        <ion-label class="w-25" for="password">Password</ion-label>
                        <ion-input class="form-control" id="password" name="password" type="password"
                                formControlName="password" [value]="registerFingerForm.value.password"></ion-input>
                </ion-item>
        </form>
        <ion-item *ngIf="showFingerSignIn">
                <ion-button size="default" slot="end" (click)="show()">
                        <ion-icon name="finger-print"></ion-icon>
                        <ion-text *ngIf="!isFingerTokenExist">
                                Create SignIn by finger
                        </ion-text>
                        <ion-text *ngIf="isFingerTokenExist">
                                Update SignIn by finger
                        </ion-text>
                </ion-button>
        </ion-item>
        <ion-item>
                <ion-button (click)="enableNotafication()">
                        Enable Notafication
                </ion-button>
        </ion-item>
</ion-content>