.content {
    --padding-start: 20px;
    --padding-end: 20px;    
}
.item-input.sc-ion-label-ios-h, .item-input .sc-ion-label-ios-h {
    max-width: inherit;
}

.edit-users {
    input {
        width: inherit;
    }
}
