﻿<ion-content color="primary">
    <h3>All registered users:</h3>
    <ion-grid class="table table-condensed">
        <ion-row>
            <ion-col>
                Username
            </ion-col>
            <ion-col>
                Role
            </ion-col>
            <ion-col>
                Edit/Delete
            </ion-col>
        </ion-row>
        <ion-row
            *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: 1, totalItems: countTotalUsers }; let i = index">
            <ion-col>
                {{ user.username }}
            </ion-col>
            <ion-col>
                {{ user.role }}
            </ion-col>
            <ion-col>
                <a (click)="editUser(i)" class="text-primary">Edit</a>
                - <a class="text-danger" (click)="presentAlert(user.id, user.username)">Delete</a>
            </ion-col>
        </ion-row>
        <ion-infinite-scroll threshold="400px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-grid>
</ion-content>