<ion-slides class="sliders" [options]="slideOpts">
    <ion-slide>
        <h1>It's your advertising</h1>
    </ion-slide>
    <ion-slide>
        <h1>It's your advertising</h1>
    </ion-slide>
    <ion-slide>
        <h1>It's your advertising</h1>
    </ion-slide>
</ion-slides>