<ion-header>
    <ion-toolbar color="primary filters-toolbar">
        <div class="search-menu-wrap">
            <app-menu></app-menu>
            <span class="chat-name mr-2">Start library chat</span>
            <span class="online-users">Online: <span class="text-danger">{{ onlineUsers }}</span></span>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content color="primary" class="wrap-chat">
    <div class="chat">
        <div class="form-message" #scroll>
            <div *ngFor="let item of messages">
                <div class="message">
                    <div class="header">
                        <h2 [ngClass]="{'current-user': item.color, 'other-users': !item.color}">
                            <ion-text color="primaryOrigin">{{  item.username  }}</ion-text>
                        </h2>
                        <span class="date">{{  item.time  }}</span>
                    </div>
                    <div class="message-text">
                        <div class="border-triangle">
                            <div class="triangle"></div>
                        </div>
                        <ion-text color="primary">{{ item.message }}</ion-text>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-item-divider class="form-chat">
        <form id="form-message" [formGroup]="editFormGroup" class="w-100 form-message">
            <ion-item>
                <ion-input id="message" name="message" type="text" formControlName="message" [value]="message">
                </ion-input>
                <button class="btn btn-primary" type="submit" ion-button (click)="sendMessage($event)"
                    form="form-message">Send</button>
            </ion-item>
        </form>
    </ion-item-divider>
</ion-content>