.wrap-chat {
  // position: fixed;
  // bottom: 50px;
  // right: 20px;
  width: 100%;

ion-header {
  width: 30px;
}
  .chat {
    height: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 0 0;
    .chat-header {
      height: 10%;
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      background-color: cadetblue;
      border-radius: 10px 10px 0 0;
      span {
        margin: 0 0 0 15px;
      }
      .img-cross img {
        margin: 0 5px 0 0;
        width: 15px;
        height: 15px;
      }
      .online-users {
        color: green;
      }
      .chat-name {
        font-family: Impact, fantasy;
        font-size: 20px;
      }
    }
    .current-user {
      color: blue;
    }
    .other-users {
      color: crimson;
    }
  }
}
.form-message {
  padding: 10px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  .chat-time {
    font-size: 13px;
  }
  .message {
    line-height: 19px;
    margin: 4px 0;
    .header {
      display: flex;
      align-items: center;
      h2 {
        margin: 0;
        font-size: 14px;
        font-weight: bold;
        margin-right: 10px;
      }
      .date {
        font-size: 11px;
        color: #808080;
      }
    }
    .message-text {
      background-color: #f2fbff;
      margin: 10px 0 0 0;
      padding: 6px 10px 10px 16px;
      box-shadow: 0 1px 3px 1px #cfcfcf;
      position: relative;
      z-index: 5;
      p {
        margin: 0;
      }
    }
    .border-triangle {
      position: absolute;
      content: "";
      top: -8px;
      left: 10px;
      width: 0;
      border-bottom: solid 9px #e6e6e6;
      border-right: solid 9px transparent;
      border-left: solid 9px #f2fbff;
      transform: rotate(-135deg);
      z-index: -1;
    }
    .triangle:before {
      position: absolute;
      content: "";
      top: 0;
      left: -9px;
      width: 0;
      border-bottom: solid 8px #f2fbff;
      border-right: solid 8px transparent;
      border-left: solid 8px transparent;
      z-index: -1;
    }
  }
}
.message-icon {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 60px;
  right: 10px;
  .unread-message {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: absolute;
    top: -10px;
    right: 28px;
    width: 20px;
    height: 20px;
    background-color: red;
    color: #000;
    font-size: 16px;
  }
  .counter-animation {
    animation: counter-animation 0.3s 1 linear;
    @keyframes counter-animation {
      from {
        top: -10px;
      }
      50% {
        top: -4px;
      }
      to {
        top: -10px;
      }
    }
  }
  img {
    width: 40px;
    height: 40px;
  }
}