// .main-styles {
//     background: #fff !important;
// }
// $colors: (
//   primary:    #000,
//   secondary:  #32db64,
//   danger:     #f53d3d,
//   light:      #f4f4f4,
//   dark:       #222,
//   twitter:    #55acee
// );

//colors
// $ion-color-primary: #000;

// :root {
//     --ion-color-primary: #000;
//     --ion-color-primary-rgb: 56,128,255;
//     --ion-color-primary-contrast: #ffffff;
//     --ion-color-primary-contrast-rgb: 255,255,255;
//     --ion-color-primary-shade: #3171e0;
//     --ion-color-primary-tint: #4c8dff;
//   }