
.filters-toolbar {
  height: 68px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

* {
  font-family: 'Andale Mono, monospace'; 
}

ion-icon {
  width: 32px;
  height: 32px;
}
app-menu {
    margin-right: 7px;
}
.search-menu-wrap {
  display: flex;
  align-items: center;
  app-header {
    margin-right: 5px;
  }
}
.error {
  color: red;
}
.edit-users {
  ion-row {
    margin-top: 15px;
  }
  ion-label {
    width: 100%;
  }
}
.content {
  --padding-start: 20px;
  --padding-end: 20px;    
  --background: url('assets/icon/ionic-base-background.svg');
  background: url('assets/icon/ionic-base-background.svg');
}

.line {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 2px;
  background: url('assets/icon/ionic-line-library.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.content-data {
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.backgraund-circle-1 {
  display: none;
}

.frame {
  border: solid 3px rgb(53, 31, 11);
  border-radius: 3% 3% 0 0;

  .book-header-wrap {
    display: flex;
    justify-content: space-around;
    align-content: center;

    svg {
      width: 25%;
      height: 30px;
    }

    .text-wrapper {
      background-color: grey;
      padding: 0 30px 10px 30px;
      border-radius: 0 0 50% 50%;
      margin-bottom: 10px;
      
      .text-library {
        font-family: fantasy;
        font-weight: 300;
        font-size: 25px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}