<ion-header>
    <ion-toolbar color="primary" class="filters-toolbar">
            <div class="search-menu-wrap">
                <app-menu></app-menu>
                <ion-text>Draw</ion-text>
            </div>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="ion-canvas">
        <canvas #canvas (touchstart)="startDrawing($event)" (touchmove)="moved($event)" (touchend)="untouched($event)"></canvas>
    </div>
    <ion-button (click)="drawSquare()">Square</ion-button>
    <ion-button (click)="drawCircle()">Circle</ion-button>
    <ion-button (click)="saveCanvasImage()">Save</ion-button>
</ion-content>