<ion-header>
    <ion-toolbar color="primary" class="filters-toolbar">
        <div class="search-menu-wrap">
            <app-menu></app-menu>
            <ion-text>Camera</ion-text>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="user" class="library" [scrollEvents]="true">
    <ion-item *ngFor="let img of user.images;">
        <img class="img" [src]="img" />
    </ion-item>
</ion-content>